{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block header %}
<h1>Phone Book</h1>
<h5>Store your contacts here</h5>
{% endblock %}

{% block content %}
<div class="row align-items-center">

    <div class="col-12 text-center">

        <div class="card mt-3">
            <div class="card-header">Search Contacts</div>
            <div class="card-body">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter first or last name...">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>
{% endblock %}